*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --white: rgb(242, 248, 248);
  --black: rgb(2, 34, 35);
  --primary-300: rgb(70, 230, 236);
  --primary-400: rgb(12, 204, 211);
  --primary-500: rgb(5, 158, 164);
}

.Content {
  width: 350px;
  padding: 0.75rem 1rem;
  background-color: var(--black);
}

.Title {
  color: var(--white);
  text-align: center;
  font-size: 2rem;
}

.Guide {
  display: block;
  color: var(--primary-300);
  text-align: right;
  margin-top: 0.5rem;
}

.CTA {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.CTA__button {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: not-allowed;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: var(--white);
  opacity: 0.7;
  font-size: 1rem;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  transition: all 250ms;
  vertical-align: baseline;
  width: auto;
}

.CTA__button:not(:disabled) {
  background-color: var(--primary-400);
  color: var(--black);
  cursor: pointer;
  opacity: 1;
}

.CTA__button:hover:not(:disabled),
.CTA__button:focus:not(:disabled) {
  background-color: var(--primary-300);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.CTA__button:hover:not(:disabled) {
  transform: translateY(-1px);
}

.CTA__button:active:not(:disabled) {
  background-color: var(--primary-500);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}
